:root {
    --dark-text: rgb(65, 69, 81);
    --light-text: rgb(124, 126, 136);
    --light-background: rgb(246 247 251);
    --dark-background:  #2f323d;
    --border-radius: 8px;
}

*,
*::after,
*::before {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   margin: 0;
   background-color: var(--light-background);
   font-family: Roboto, sans-serif;
   min-height: 100vh;
   height: 100%;
}

#game-container {
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ttt-grid {
    height:310px;
    width: 310px;
    background-color: var(--dark-background);
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}

button {
    height: 100px;
    width: 100px;
    border-style: none;
    background-color: var(--light-background);
    font-size: 4rem;
}