:root {
    --dark-text: rgb(65, 69, 81);
    --light-text: rgb(235, 236, 241);
    --light-background: rgb(246 247 251);
    --light-background-hover: rgb(235, 238, 245);
    --dark-background:  #2f323d;
    --dark-background-hover: #42475a;
    --border-radius: 8px;
}

*,
*::after,
*::before {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   margin: 0;
   background-color: var(--light-background);
   font-family: Roboto, sans-serif;
   min-height: 100vh;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: top;
}

#game-container {
    height: 600px;
    width: 600px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 60px;
    gap: 20px;
}

#ttt-grid {
    height:310px;
    width: 310px;
    background-color: var(--dark-background);
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}

.ttt-grid-cell {
    height: 100px;
    width: 100px;
    border-style: none;
    background-color: var(--light-background);
    font-size: 4rem;
    overflow: hidden;
}


.btn-reset-game {
    height: 60px;
    width: 150px;
    font-size: 2rem;
    border-style: solid;
    border-color: var(--dark-background);
    border-radius: 5px;
    padding: 5px;
    background-color: var(--dark-background);
    color: var(--light-text);
}


/* Interaction */
.btn-reset-game:hover {
    background-color: var(--dark-background-hover);
}

.ttt-grid-cell:hover {
    background-color: var(--light-background-hover);
}